@font-face {
  font-family: "Ubuntu-Regular";
  src: url("/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Ubuntu-Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  background-color: #f5f7f9;
  overflow-x: hidden;
  color: #2e3440;
}