/* .header {
  height: 56px;
  background: #e9eef2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.header__login {
  color: #00a0b0;
  cursor: pointer;
}

.header__logo img {
  height: 24px;
  display: block;
} */


.header {
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.header--public {
  background: #e9eef2;
  justify-content: space-between;
}

.header__login {
  color: #00a0b0;
  cursor: pointer;
}

.header__logo img {
  height: 24px;
}


.header--dashboard {
  background: #e1e7ed;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__left img {
  height: 22px;
}

.header__projects {
  font-size: 14px;
  color: #4c566a;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__icon {
  cursor: pointer;
  color: #6b778c;
}

.header__avatar {
  width: 28px;
  height: 28px;
  background: #c1c7d0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}